<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageName}">홈 화면</title>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
<div>
    <h1>
        <a th:href="@{/{type}(type=${loginType})}" th:text="${pageName}">홈 화면</a>
    </h1>
    <hr>

    <div th:if="${nickname == null}">
        <h3>로그인 되어있지 않습니다!</h3>
        <button th:onclick="|location.href='@{/{type}/join(type=${loginType})}'|">회원 가입</button>
        <br><br>
        <button th:onclick="|location.href='@{/{type}/login(type=${loginType})}'|">로그인</button>
    </div>

    <div th:unless="${nickname == null}">
        <h3><span th:text="${nickname}"></span>님 환영합니다!</h3>
        <button th:onclick="|location.href='@{/{type}/info(type=${loginType})}'|">설정</button>
        <br><br>
        <button th:onclick="|location.href='@{/{type}/admin(type=${loginType})}'|">관리자 페이지</button>
        <br><br>
        <button th:onclick="|location.href='@{/{type}/logout(type=${loginType})}'|">로그아웃</button>
    </div>
</div>
</body>
</html>